
<div  class="row" style="direction:rtl;">
    <div class="col-md-12">
        <form role="form">
          <div class="form-group">
                <label for="exampleInputName1" ng-bind="text[3]"> </label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Your Name">
            </div>
             <div class="form-group">
                <label for="exampleInputEmail1" ng-bind="text[4]"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" ng-bind="text[5]"> </label>
                <input type="text" class="form-control" id="exampleInputAddress">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" ng-bind="text[6]"> </label>
                <input type="text" class="form-control" id="exampleInputCity" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"  ng-bind="text[7]"> </label>
                <input type="text" class="form-control" id="exampleInputCity" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" ng-bind="text[47]"> </label>
                <select>
                    <option value="-1">{{text[52]}}</option>
                    <option value="text[48]">{{text[48]}}</option>
                    <option value="text[49]">{{text[49]}}</option>
                    <option value="text[50]">{{text[50]}}</option>
                    <option value="text[51]">{{text[51]}}</option>
                </select>
                <input type="date"  id="exampleInputCity">
               
            </div>

            <div class="form-group">
                <label ng-bind="text[8]"></label><br>
                <textarea cols="50" rows="10" placeholder="{{text[7]}}"></textarea>

                
            </div>
        
            <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="auto" class="ss-item ss-item-required ss-checkbox">
                    <div class="ss-form-entry">
                        <label class="ss-q-item-label" for="entry_938338419">
                            <div class="ss-q-title">
                            {{text[10]}}
                                <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
                                <span class="ss-required-asterisk" aria-hidden="true">*</span>
                            </div>
                            <div class="ss-q-help ss-secondary-text" dir="auto"></div>
                        </label>


                        <ul class="ss-choices ss-choices-required" role="group" aria-label="{{text[10]}}">
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="עגלת תאומים &nbsp;" id="group_735744387_1" role="checkbox" class="ss-q-checkbox valid" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[11]}} &nbsp;</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="עגלת טיולון" id="group_735744387_2" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[12]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="מיטת תינוק&nbsp;" id="group_735744387_3" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[13]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="עריסה" id="group_735744387_4" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[14]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="משאבת חלב ידנית&nbsp;" id="group_735744387_5" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[15]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="משאבת חלב ניידת" id="group_735744387_6" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[16]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="עגלת אמבטיה" id="group_735744387_7" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[17]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="כיסא בטיחות לרכב" id="group_735744387_8" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[18]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="כרית לברית" id="group_735744387_9" role="checkbox" class="ss-q-checkbox" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[19]}}</span>
                                </label>
                            </li>
                            <li class="ss-choice-item">
                                <label>
                                    <span class="ss-choice-item-control goog-inline-block"><input type="checkbox" name="entry.735744387" value="__other_option__" id="group_735744387_10" role="checkbox" class="ss-q-checkbox ss-q-other-toggle" aria-required="true"></span>
                                    <span class="ss-choice-label">{{text[20]}}</span>
                                </label>
                                <span class="ss-q-other-container goog-inline-block"><input type="text" name="entry.735744387.other_option_response" value="" class="ss-q-other" id="entry_735744387_other_option_response" dir="auto" aria-label="Other"></span>
                            </li>
                        </ul>
                        <div class="error-message" id="938338419_errorMessage"></div>
                        <div class="required-message">This is a required question</div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Submit"/>

        </form>
    </div>
</div>